html {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    box-sizing: border-box;
    height: 100%;
  }
  
*, *:before, *:after {
    box-sizing: inherit;
}

body {
    margin: 0;
    padding: 0;
    background: url(./images/table.png)no-repeat center center fixed;
    background-size: cover;
    height: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-between;
    font-family: 'Exo 2', sans-serif;
}

.new-deck-container {
    display: flex;
    align-items: center;
    width: 100%;
    gap: 2rem;
}

.new-deck-btn {
    height: 3rem;
    width: 10rem;
    font-size: 1.2rem;
    background-color: rgb(255, 241, 0);
    cursor: pointer;
    border: none;
}

.cards-remaining {
    color: #FFF;
    font-size: 1.5rem;
    font-weight: 400;
    margin: 0;
}

.winner-text {
    color: #FFF;
    font-size: 3rem;
    font-weight: 400;
    margin: 1rem 0 0 0;
}

.cards-img-container {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.card-slot1, .card-slot2 {
    height: 20rem;
    width: calc(20rem * 5 / 7);
    border: 1px solid black;
    border-radius: 0.5rem;
    margin: 2rem 0 5rem 0;
}

.card {
    width: 100%;
    height: 100%;
}

.scores {
    color: #FFF;
    font-size: 1.6rem;
    font-weight: 400;
}

.draw-cards-btn {
    height: 4rem;
    font-size: 2rem;
    background-color: rgb(255, 241, 0);
    cursor: pointer;
    border: none;
    align-self: stretch;
}

button:disabled {
    opacity: 0.6;
    cursor: not-allowed;
}


/* Media Queries Phone */

@media screen and (max-width: 550px) {
    .new-deck-btn {
        height: 2.5rem;
        width: 7rem;
        font-size: 1rem;
    }
    
    .cards-remaining {
        font-size: 1.3rem;
    }
    
    .winner-text {
        font-size: 2.2rem;
        margin-top: 1rem;
    }
    
    .card-slot1, .card-slot2 {
        height: 8rem;
        width: calc(8rem * 5 / 7);
        margin: 1rem 0;
    }
    
    .scores {
        font-size: 1.2rem;
    }
    
    .draw-cards-btn {
        height: 3.5rem;
        font-size: 1.8rem;
    } 
}

@media screen and (min-width: 551px) and (max-width: 1024px) {
    .new-deck-btn {
        height: 2.5rem;
    }
    
    .cards-remaining {
        font-size: 1.5rem;
    }
    
    .winner-text {
        font-size: 2.8rem;
    }

    .card-slot1, .card-slot2 {
        height: 15rem;
        width: calc(15rem * 5 / 7);
    }
    
    .scores {
        font-size: 1.6rem;
    }
    
    .draw-cards-btn {
        height: 3.5rem;
        font-size: 1.8rem; 
    }
}
