html {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    box-sizing: border-box;
    height: 100%;
  }
  
*, *:before, *:after {
    box-sizing: inherit;
}

body {
    margin: 0;
    padding: 0;
    background: url(./images/table.png)no-repeat center center fixed;
    background-size: cover;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.draw-cards-btn {
    height: 4rem;
    width: 100%;
    font-size: 2rem;
    background-color: rgb(255, 241, 0);
    cursor: pointer;
    border: none;
}

.new-deck-btn {
    height: 3rem;
    width: 10rem;
    font-size: 1.2rem;
    background-color: rgb(255, 241, 0);
    cursor: pointer;
    border: none;
}

.cards-img-container {
    align-self: center;
}